/* Mobile First */
body {
    background-color: blanchedalmond;
}

.title {
    font-size: 40px;
}

@media screen and (min-width: 480px) {
    body {
        background-color: tomato;
    }
    .title {
        font-size: 36px;
    }
}
@media screen and (min-width: 768px) {
    body {
        background-color: rgb(186, 134, 214);
    }
    .title {
        font-size: 24px;
    }
}
@media screen and (min-width: 1024px) {
    body {
        background-color: rgb(155, 215, 141);
    }
    .title {
        font-size: 12px;
    }
}