body {
    /* margin-left: 100px; */
    margin: 0;
}

/* 박스 모델 (Box Model) */

.box1 .box {
    width: 200px;
    height: 200px;

    padding: 20px;
    border: 20px solid blue;
    margin: 20px;
}

/* 크기 - width, height */
.box2 .block {
    width: 300px;
    height: 100px;
    background-color: wheat;
}
.box2 .inline {
    width: 300px;
    height: 100px;
    background-color: yellowgreen;
}

/* 크기 - max-width, min-width, max-height, min- height */

.box3 .parent {
    width: 800px;
    height: 300px;

    background-color: lightcoral;
}
.box3 .child {
    width: 50%;
    max-width: 300px;
    height: 100px;

    background-color: lightgreen;
}

/* 여백 - margin */
.box4 .parent {
    width: 300px;
    height: 200px;
    border: 5px solid blue;
}
.box4 .child {
    width: 50px;
    height: 50px;
    margin: 40px 20px 30px 20px;
    border: 5px solid tomato;
}

/* 마진 상쇄 (margin collapsing) */

/* 인접 형제 */
.box5 .box {
    background-color: tomato;
    width: 200px;
    height: 200px;

    margin: 50px;
    /* margin-top: 10px; */
    /* margin-bottom: 20px; */
}

/* 부모-자식요소간 */
.box6 .parent {
    width: 300px;
    height: 300px;

    margin-top: 30px;

    background-color: cadetblue;
}
.box6 .child {
    width: 100px;
    height: 100px;

    margin-top: 40px;

    background-color: indianred;
}

/* 여백 - padding */
.box7 .parent {
    width: 200px;
    height: 200px;

    background-color: skyblue;
}
.box7 .child {
    width: 100px;
    height: 100px;

    padding: 10%;
    
    background-color: orange;
}
.box7 .grand-child {
    width: 50px;
    height: 50px;

    background-color: red;
}

/* 테두리 - border-style, border-width, border-color */
.box8 .box{
    width: 300px;
    height: 300px;
    border-style: dotted solid;
    border-width: 10px;
    border-color: red blue;

    background-color: skyblue;
}

/* border shorthand */
.box9 .box{
    width: 300px;
    height: 300px;
    background-color: lightcoral;

    border: 5px dotted red;
}

/* border-radius */
.box10 .box {
    width: 300px;
    height: 300px;

    border: 5px solid red;
    border-radius: 50px 10px 20px 30px;

    background-color: lightsalmon;
}

/* box-sizing */
.box11 .box {
    width: 300px;
    height: 200px;

    padding: 20px;
    border: 30px solid blue;

    box-sizing: content-box;

    background-color: skyblue;
}
.box11 .box2 {
    width: 300px;
    height: 200px;

    padding: 20px;
    border: 30px solid red;

    box-sizing: border-box;

    background-color: lightpink;
}